@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@using Microsoft.IdentityModel.Tokens

<Div Flex="Flex.Row.Wrap.AlignItems.Center"
     Gap="Gap.Is2">
    @if (Combo.Combo.Moves.IsNullOrEmpty())
    {
        <p>No Moves found...</p>
    }
    else
    {
        foreach (var convertedMove in Combo.Combo.Moves.Select(GetMove))
        {
            switch (convertedMove.Type)
            {
                case "Break":
                    <Text>
                        @convertedMove.Notation
                    </Text>
                    break;
                    
                case "Mechanics Input" or "Character" or "Common" or "Stage":
                    <Button Border="Border.Is0"
                            Background="@(convertedMove.Type switch { 
                            "Character" => Background.Primary, 
                            "Mechanics Input" => Background.Secondary, 
                            "Modifier" => Background.Light, 
                            "Break" => Background.Info, 
                            "Stage" => Background.Success, 
                            "Stances" => Background.Danger, 
                            _ => Background.Dark })"
                            TextColor="TextColor.Dark"
                            TextWeight="TextWeight.Bold">
                        @convertedMove.Name
                    </Button>
                    break;
                    
                default:
                    <img src="@GetMoveImage(convertedMove.Name)"
                         alt="@convertedMove.Name" height="50" width="50"/>
                    break;
            }
        }
    }
</Div>

@code {
    [Parameter] public ComboDisplay Combo { get; set; } = new(new Combo());
    private readonly List<Move> _moveList = TekkenMoves.Moves;

   private Move GetMove(string note)
   {
       return _moveList.First(m => m.Notation == note);
   }

   private static string GetMoveImage(string name)
   {
       return $"./images/{name}.png";
   }
}