@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@using Microsoft.IdentityModel.Tokens

<Column Gap="Gap.Is1" Height="Height.Max100">
    <Heading4>@Combo.Combo.Title</Heading4>

    <ComboDisplayNoButtons Combo="Combo"/>
    
    <Divider/>

    <Container Flex="Flex.Row.JustifyContent.Between.AlignContent.Center"
               Gap="Gap.Is2">
        <Div class="d-flex flex-column">
            <Text>Damage: @Combo.Combo.Damage</Text>
            <Text>Created By: @Username</Text>
        </Div>
        
        <Div Flex="Flex.Row.AlignContent.Start.JustifyContent.Center"
             Gap="Gap.Is3">
            <NavLink href="">
                <Button Type="ButtonType.Link" 
                        To="@GetEditorEditModeUrl()"
                        Color="Color.Secondary">
                    Edit
                </Button>
            </NavLink>
                <Button Type="ButtonType.Link"
                        Color="Color.Primary"
                        TextColor="TextColor.Light"
                        To="@(GetEditorEditModeUrl())">
                    Share
                </Button>
        </Div>
        
        <Div>
            <Button class="d-flex flex-column gap-0 justify-content-center align-content-center">
                <Text Typo="Typo.body2">Ki: @Combo.Ki</Text>
                <img class="img" src="images/p.png" height="32" width="32" alt="Like Button"/>
            </Button>
        </Div>
    </Container>
</Column>

@code {
    [Parameter] public ComboDisplay Combo { get; set; } = new(new Combo());

    [Parameter] public Fighter ChosenFighter { get; set; } = new();

    [Parameter] public string Username { get; set; } = "";

    private string GetEditorEditModeUrl()
    {
        return $"/ComboEditor/{ChosenFighter.Name}/true";
    }
}