@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@using Microsoft.IdentityModel.Tokens

<MudPaper 
    Class="d-flex flex-column pb-4 gap-1 m-2 mt-2" 
    Elevation="3"
    Style="background: inherit; color: inherit;">
    <h4>@Combo.Combo.Title</h4>

    <ComboDisplayNoButtons Combo="Combo"/>
    
    <MudDivider/>

    <MudContainer class="d-flex flex-row justify-space-between align-content-center mt-2 mx-0 px-0">
        <MudElement class="d-flex flex-column">
            <MudText>Damage: @Combo.Combo.Damage</MudText>
            <MudText>Created By: @Username</MudText>
        </MudElement>
        
        <MudElement class="d-flex flex-row align-content-start justify-content-center gap-3">
            <NavLink href="@GetEditorEditModeUrl()">
                <MudButton Variant="Variant.Filled" Color="Color.Tertiary">
                    Edit
                </MudButton>
            </NavLink>
            <NavLink>
                <MudButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    class="btn btn-primary"
                    Href="@(GetEditorEditModeUrl())">
                    Share
                </MudButton>
            </NavLink>
        </MudElement>
        
        <MudElement>
            <MudElement class="d-flex flex-column gap-0 justify-content-center align-content-center">
                <MudText Typo="Typo.body2">Ki: @Combo.Ki</MudText>
                <MudImage class="img" src="images/p.png" height="32" width="32" alt="Like Button"/>
            </MudElement>
        </MudElement>
    </MudContainer>
</MudPaper>

@code {
    [Parameter] public ComboDisplay Combo { get; set; } = new(new Combo());

    [Parameter] public Fighter ChosenFighter { get; set; } = new();

    [Parameter] public string Username { get; set; } = "";

    private string GetEditorEditModeUrl()
    {
        return $"/ComboEditor/{ChosenFighter.Name}/true";
    }
}