@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@using Microsoft.IdentityModel.Tokens

<Column Gap="Gap.Is1" Height="Height.Max100">
    <Heading4>@Combo.Combo.Title</Heading4>

    <ComboDisplayNoButtons Combo="Combo"/>
    
    <Divider/>

    <Container class="d-flex flex-row justify-space-between align-content-center mt-2 mx-0 px-0">
        <Div class="d-flex flex-column">
            <Text>Damage: @Combo.Combo.Damage</Text>
            <Text>Created By: @Username</Text>
        </Div>
        
        <MudElement class="d-flex flex-row align-content-start justify-content-center gap-3">
            <NavLink href="@GetEditorEditModeUrl()">
                <MudButton Variant="Variant.Filled" Color="Color.Tertiary">
                    Edit
                </MudButton>
            </NavLink>
            <NavLink>
                <MudButton
                    Variant="Variant.Filled"
                    Color="Color.Primary"
                    class="btn btn-primary"
                    Href="@(GetEditorEditModeUrl())">
                    Share
                </MudButton>
            </NavLink>
        </MudElement>
        
        <MudElement>
            <MudElement class="d-flex flex-column gap-0 justify-content-center align-content-center">
                <MudText Typo="Typo.body2">Ki: @Combo.Ki</MudText>
                <MudImage class="img" src="images/p.png" height="32" width="32" alt="Like Button"/>
            </MudElement>
        </MudElement>
    </Container>
</Column>

@code {
    [Parameter] public ComboDisplay Combo { get; set; } = new(new Combo());

    [Parameter] public Fighter ChosenFighter { get; set; } = new();

    [Parameter] public string Username { get; set; } = "";

    private string GetEditorEditModeUrl()
    {
        return $"/ComboEditor/{ChosenFighter.Name}/true";
    }
}