@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@if (Moves.Count > 0)
{
    <Div
        Class="px-3"
        Square="true"
        Style="background: inherit;">

        <Text Typo="Typo.h5">
            @Type
        </Text>

        <Div
            Class="d-flex flex-row flex-wrap gap-5 my-5">
            @switch (Type)
            {
                case "Character" or "Modifier" or "Break" or "Mechanics" or "Stances" or "Stage":
                {
                    foreach (var move in _filteredMoves)
                    {
                        <Div
                            Class="my-auto"
                            Style=@($"background: {BackgroundColor}; padding: 5px;")>
                            <Text
                                Typo="Typo.h6">
                                @move.Name
                            </Text>
                        </Div>
                    }

                    break;
                }
                case "Misc":
                {
                    foreach (var move in _miscMoves
                                 .Where(move => move.Name != "break"))
                    {
                        <img src="@GetMoveImage(move.Name)"
                             alt="@move.Name"
                             height="50" width="50"/>
                    }

                    break;
                }
                default:
                {
                    foreach (var move in _filteredMoves)
                    {
                        <img src="@GetMoveImage(move.Name)"
                             alt="@move.Name"
                             height="50" width="50"/>
                    }

                    break;
                }
            }
        </Div>
    </Div>
}

@code {
    [Parameter] public List<Move> Moves { get; set; } = [];
    [Parameter] public string Type { get; set; } = "";
    [Parameter] public string CharacterName { get; set; } = "";
    private string TypeFilter { get; set; } = "";
    private string BackgroundColor { get; set; } = "";
    
    private List<Move> _filteredMoves = [];
    private readonly List<Move> _miscMoves = CommonMoves.Moves;

    protected override void OnInitialized()
    {
        _filteredMoves = Type is "Character" ? 
            FilterCharacterMoves(Moves) : FilterMoves(Moves);

        // BackgroundColor = Type switch
        // {
        //     "Modifier" => ,
        //     "Stances" => Colors.Gray.Darken4,
        //     "Character" => Colors.Red.Darken2,
        //     "Mechanics" => Colors.Purple.Darken2,
        //     "Stage" => Colors.Green.Darken2,
        //     _ => ""
        // };
        if (Type is "Misc")
        {
            Console.WriteLine(Moves.Count);
        }
    }
    
    private List<Move> FilterMoves(List<Move> moves)
    {
        TypeFilter = Type switch
        {
            "Stances" => "Common",
            "Mechanics" => "Mechanics Input",
            _ => Type
        };
        return moves.FindAll(m => m.Type == TypeFilter);
    }
    
    private List<Move> FilterCharacterMoves(List<Move> moves)
    {
        return moves.FindAll(m => m.Character == CharacterName);
    }
    
    private Move GetMove(string note)
    {
        return Moves.First(m => m.Notation == note);
    }

    private static string GetMoveImage(string name)
    {
        return $"./images/{name}.png";
    }
}