@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@if (Moves.Count > 0)
{
    <Div>
        <Heading5>
            @Type
        </Heading5>

        <Div Flex="Flex.Row.Wrap"
             Gap="Gap.Is3">
            @if (Type is "Character" or "Modifier" or "Break" or "Mechanics" or "Stances" or "Stage")
            {
                foreach (var move in _filteredMoves)
                {
                    <Button Background=
                            "@(
                             Type switch 
                             { 
                                 "Character" => Background.Primary, 
                                 "Mechanics" => Background.Secondary, 
                                 "Modifier" => Background.Light, 
                                 "Break" => Background.Info, 
                                 "Stage" => Background.Success, 
                                 "Stances" => Background.Danger, 
                                 _ => Background.Dark
                             })"
                            Type="ButtonType.Button">
                        <Text TextWeight="TextWeight.Bold">
                            @move.Name
                        </Text>
                        </Button> 
                }
            }
            else
            {
                if (Type == "Misc")
                {
                    foreach (var move in _miscMoves
                                 .Where(move => move.Name != "break"))
                    {
                        <Button Type="ButtonType.Button">
                            <img src="@GetMoveImage(move.Name)"
                                 alt="@move.Name"
                                 height="40" width="40"/>
                        </Button>
                    }
                }
                else
                {
                    foreach (var move in _filteredMoves)
                    {
                        <Button Type="ButtonType.Button">
                            <img src="@GetMoveImage(move.Name)"
                                 alt="@move.Name"
                                 height="40" width="40"/>
                        </Button>
                    }
                }
            }
        </Div>
    </Div>
}

@code {
    [Parameter] public List<Move> Moves { get; set; } = [];
    [Parameter] public string Type { get; set; } = "";
    [Parameter] public string CharacterName { get; set; } = "";
    private string TypeFilter { get; set; } = "";
    private string BackgroundColor { get; set; } = "";
    
    private List<Move> _filteredMoves = [];
    private readonly List<Move> _miscMoves = CommonMoves.Moves;

    protected override void OnInitialized()
    {
        _filteredMoves = Type is "Character" ? 
            FilterCharacterMoves(Moves) : FilterMoves(Moves);

        if (Type is "Misc")
        {
            Console.WriteLine(Moves.Count);
        }
    }
    
    private List<Move> FilterMoves(List<Move> moves)
    {
        TypeFilter = Type switch
        {
            "Stances" => "Common",
            "Mechanics" => "Mechanics Input",
            _ => Type
        };
        return moves.FindAll(m => m.Type == TypeFilter);
    }
    
    private List<Move> FilterCharacterMoves(List<Move> moves)
    {
        return moves.FindAll(m => m.Character == CharacterName);
    }
    
    private Move GetMove(string note)
    {
        return Moves.First(m => m.Notation == note);
    }

    private static string GetMoveImage(string name)
    {
        return $"./images/{name}.png";
    }
    
}