@page "/CombosFor/{Name}"

@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter FirestoreGetter

<PageTitle>Combo Viewer</PageTitle>

<MudPaper
    Class="d-flex flex-row px-3 rounded-0"
    Style="background: black; color: white;"
    Height="100vh" Width="100vw">
    
    <MudElement
        Style="width: 75%;"
        class="py-3">
        <MudElement
            Class="d-flex flex-column">
            <MudButton
                Class="mx-5 my-5"
                Variant="Variant.Filled"
                Color="Color.Primary"
                Href="@GetEditorUrl()">
                Create a Combo
            </MudButton>
            
            @if (ComboList.Count > 0)
            {
                @foreach (var combo in ComboList)
                {
                    <ComboDisplayWithButtons
                        Combo="combo"
                        ChosenFighter="@(ChosenFighter ?? new Fighter())"
                        Username="@(GetUsername(combo.Combo.CreatedBy))"/>
                }
            }
            else
            {
                <p>No combos to be found... </p>
            }
        </MudElement>
    </MudElement>

    <MudCard
        Class="mx-4 p-0"
        Style="background: inherit; color: inherit; max-width: 600px;">
        <MudCardHeader
            Class="card-img text-center"
            Style="background: inherit; color: inherit;">
            <img style="max-width: 600px;" src="@(GetPhotoUrl())" alt="@ChosenFighter?.Name"/>
        </MudCardHeader>
        
        <MudCardContent
            Style="background: inherit; color: inherit">
            
            <MudText
                class="card-title text-white">
                @(ChosenFighter?.Name ?? "Invalid Character")
            </MudText>
            
            <MudText class="text-white">
                @((ChosenFighter?.Bio == "") ? "No bio provided" : ChosenFighter?.Bio)
            </MudText>
            
            <MudText class="text-white">
                @(ChosenFighter?.FightingStyle)
            </MudText>
            
            <MudText class="text-white">
                @(ChosenFighter?.Game)
            </MudText>
        </MudCardContent>
    </MudCard>
</MudPaper>

<script type="text/javascript">
    ScrollElementIntoView = {}
</script>

@code {
    [Parameter] 
    public string? Name { get; set; }
    
    private Fighter? ChosenFighter { get; set; }
    private List<UserInfo> UsersList { get; set; } = [];

    private List<ComboDisplay> ComboList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Getting fighters");
        ChosenFighter = TekkenFighters.Fighters.First(f => f.Name == Name);

        Console.WriteLine($"ChosenFighter: {ChosenFighter.Name}");
        
        if (ChosenFighter == null) return;
        
        var comboList = await FirestoreGetter.GetCombos(ChosenFighter.Name);
        
        ComboList.AddRange(
            from combo in comboList
            select new ComboDisplay(combo)
        );
        
        UsersList = await FirestoreGetter.GetUsers();
    }

    private string GetUsername(string userId)
    {
        var authDetailsUsername = UsersList.FirstOrDefault(u => 
            u.UserId == userId)?.Username;
        return authDetailsUsername ?? "Invalid Username";
    }

    private string GetEditorUrl()
    {
        return $"/ComboEditor/{ChosenFighter?.Name}/false/1y8GcITqkVsGzjJQ3f2R";
    }

    private string GetPhotoUrl()
    {
        return $"images/{ChosenFighter?.Name}.png";
    }
}