@page "/{Game}/{Name}"

@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter FirestoreGetter
@inject NavigationManager Navigation

<PageTitle>Combo Viewer</PageTitle>

<Row RowColumns="RowColumns.Are2">
    <Column Width="Width.Is75">
        <Div Flex="Flex.Column">
            <Button
                Type="ButtonType.Link"
                Color="Color.Primary"
                TextColor="TextColor.Light"
                Margin="Margin.Is2.OnY.Is5.OnX"
                To="@GetCreatorUrl()">
                Create a Combo
            </Button>
            
            @if (ComboList.Any())
            {
                @foreach (var combo in ComboList)
                {
                    <Div Margin="Margin.Is4.FromTop">
                        <ComboDisplayWithButtons
                            DisplayCombo="combo"
                            ChosenFighter="@(ChosenFighter ?? new Fighter())"
                            Username="@(GetUsername(combo.Combo.CreatedBy))"/>
                    </Div>
                }
            }
            else
            {
                <p>No combos to be found... </p>
            }
        </Div>
    </Column>

    <Column Width="Width.Is25">
        <Card Background="Background.Dark">
            <CardHeader TextAlignment="TextAlignment.Center">
                <Div>
                    <CardImage Source="@GetPhotoUrl()"
                               Height="Height.Px().Min(100)"
                               Width="Width.Max100"
                               Style="object-fit: contain;"
                               Alt="@ChosenFighter?.Name"/>
                </Div>
            </CardHeader>
        
            <CardBody>
                <CardTitle Size="HeadingSize.Is5"
                           TextColor="TextColor.Light">
                    @(ChosenFighter?.Name ?? "Invalid Character")
                </CardTitle>
                <Div Flex="Flex.Column" >

                    @if (ChosenFighter?.Bio.Length > 0)
                    {
                        <Text>
                            @(ChosenFighter?.Bio)
                        </Text>
                    }

                    <Text class="text-white">
                        @(ChosenFighter?.FightingStyle)
                    </Text>

                    <Text class="text-white">
                        @(ChosenFighter?.Game)
                    </Text>
                </Div>
            </CardBody>
        </Card>
    </Column>
    
</Row>

<script type="text/javascript">
    ScrollElementIntoView = {}
</script>

@code {
    [Parameter] 
    public string? Name { get; set; }
    [Parameter]
    public string? Game { get; set; }
    
    private Fighter? ChosenFighter { get; set; }
    private List<UserInfo> UsersList { get; set; } = [];
    private List<DisplayCombo> ComboList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Getting fighters");

        try
        {
            ChosenFighter = Game switch
            {
                "T8" => Tekken8.Fighters.FirstOrDefault(f => f.Name == Name),
                "SF6" => StreetFighter6.Fighters.FirstOrDefault(f => f.Name == Name),
                "MK1" => MortalKombat1.Fighters.FirstOrDefault(f => f.Name == Name),
                _ => throw new ArgumentOutOfRangeException(nameof(Game), Game, null)
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            Navigation.NavigateTo("");
        }

        Console.WriteLine($"ChosenFighter: {ChosenFighter?.Name}");
        
        if (ChosenFighter == null) return;
        
        var comboList = await FirestoreGetter.GetCombos(ChosenFighter.Name);
        
        ComboList.AddRange(
            from combo in comboList
            select new DisplayCombo(combo)
        );
        
        UsersList = await FirestoreGetter.GetUsers();
    }

    private string GetUsername(string userId)
    {
        var authDetailsUsername = UsersList.FirstOrDefault(u => 
            u.UserId == userId)?.Username;
        return authDetailsUsername ?? "Invalid Username";
    }

    private string GetEditorUrl()
    {
        return $"/Editor/{Game}/{ChosenFighter?.Name}/1y8GcITqkVsGzjJQ3f2R";
    }
    
    private string GetCreatorUrl()
    {
        return $"/Editor/{Game}/{ChosenFighter?.Name}/new";
    }

    private string GetPhotoUrl()
    {
        return $"./images/{ChosenFighter?.ImageId}.png";
    }
}