@page "/ComboViewer/{Name}"

@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData

<PageTitle>Combo Viewer</PageTitle>

<div class="d-flex flex-row">
    <div class="w-75 text-white py-3 mx-2">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-center">
                <NavLink href="@GetEditorUrl()">
                    <button class="btn btn-danger">
                        Create a Combo
                    </button>
                </NavLink>
            </div>
                    @foreach (var item in Enumerable.Range(0, 10))
                    {
                        @foreach (var combo in _comboList)
                        {
                            <ComboDisplayer Combo = "combo" ChosenFighter="@(ChosenFighter ?? new Fighter())"/>
                        }
                    }
            
        </div>
    </div>
    
    <div class="card bg-black w-25 mx-4">
        <div class="card-img text-center">
            <img class="" src="@(GetPhotoUrl())" alt="@ChosenFighter?.Name"/>
        </div>

        <div class="card-body">
            <h3 class="card-title text-white">@(ChosenFighter?.Name ?? "Invalid Character")</h3>
            <p class="text-white">@((ChosenFighter?.Bio == "") ? "No bio provided" : ChosenFighter?.Bio)</p>
            <p class="text-white">@(ChosenFighter?.FightingStyle)</p>
            <p class="text-white">@(ChosenFighter?.Game)</p>
        </div>
    </div>
</div>

<script type="text/javascript">
    ScrollElementIntoView = {
        
    }
</script>
@code {
    [Parameter] public string? Name { get; set; }
    private Fighter? ChosenFighter { get; set; }

    private readonly List<ComboDisplay> _comboList =
    [
        new ComboDisplay(
            new Combo(title: "Combo 1", character: "Generic", createdBy: "Dooks", damage: 500,
                moves: ["d/b", "4", "3", "►", "2", "1", "2", "►", "h/burst", "►", "F", "2", "1+2"]),
            ki: 100,
            favourites: 5
        ),
        new ComboDisplay(
            new Combo(title: "Combo 2", character: "Generic", createdBy: "Kazuya", damage: 9001,
                moves:["1+2", "►", "d/b", "4", "3", "►", "2", "1", "2", "►", "1", "1+2", "1+2"]),
            ki: 250,
            favourites: 10
        )
    ];

    protected override void OnInitialized()
    {
        ChosenFighter = TekkenFighters.Fighters.First(f => f.Name == Name);
    }

    private string GetEditorUrl()
    {
        return $"/ComboEditor/{ChosenFighter?.Name}/false";
    }
    
    private string GetPhotoUrl()
    {
        return $"images/{ChosenFighter?.Name}.png";
    }
}