@page "/CombosFor/{Name}"

@using FightingFlowDotNet.Clients
@using FightingFlowDotNet.Components.Reusable
@using FightingFlowDotNet.Models
@using FightingFlowDotNet.Resources.TekkenData
@inject FirestoreGetter FirestoreGetter

<PageTitle>Combo Viewer</PageTitle>

<Row RowColumns="RowColumns.Are2">
    <Column Width="Width.Is75">
        <Div
            Class="d-flex flex-column">
            <Button
                Class="mx-5 my-5"
                Type="ButtonType.Link"
                Color="Color.Primary"
                To="@GetEditorUrl()">
                Create a Combo
            </Button>
            
            @if (ComboList.Count > 0)
            {
                @foreach (var combo in ComboList)
                {
                    <ComboDisplayWithButtons
                        Combo="combo"
                        ChosenFighter="@(ChosenFighter ?? new Fighter())"
                        Username="@(GetUsername(combo.Combo.CreatedBy))"/>
                }
            }
            else
            {
                <p>No combos to be found... </p>
            }
        </Div>
    </Column>

    <Column Width="Width.Is25">
        <Card
            Class="mx-4 p-0"
            Style="background: inherit; color: inherit; max-width: 600px;">
            <CardHeader
                Class="card-img text-center"
                Style="background: inherit; color: inherit;">
                <img style="max-width: 600px;" src="@(GetPhotoUrl())" alt="@ChosenFighter?.Name"/>
            </CardHeader>
        
            <CardBody
                Style="background: inherit; color: inherit">
            
                <Text
                    class="card-title text-white">
                    @(ChosenFighter?.Name ?? "Invalid Character")
                </Text>
            
                <Text class="text-white">
                    @((ChosenFighter?.Bio == "") ? "No bio provided" : ChosenFighter?.Bio)
                </Text>
            
                <Text class="text-white">
                    @(ChosenFighter?.FightingStyle)
                </Text>
            
                <Text class="text-white">
                    @(ChosenFighter?.Game)
                </Text>
            </CardBody>
        </Card>
    </Column>
    
</Row>

<script type="text/javascript">
    ScrollElementIntoView = {}
</script>

@code {
    [Parameter] 
    public string? Name { get; set; }
    
    private Fighter? ChosenFighter { get; set; }
    private List<UserInfo> UsersList { get; set; } = [];
    private List<ComboDisplay> ComboList { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Getting fighters");
        ChosenFighter = TekkenFighters.Fighters.First(f => f.Name == Name);

        Console.WriteLine($"ChosenFighter: {ChosenFighter.Name}");
        
        if (ChosenFighter == null) return;
        
        var comboList = await FirestoreGetter.GetCombos(ChosenFighter.Name);
        
        ComboList.AddRange(
            from combo in comboList
            select new ComboDisplay(combo)
        );
        
        UsersList = await FirestoreGetter.GetUsers();
    }

    private string GetUsername(string userId)
    {
        var authDetailsUsername = UsersList.FirstOrDefault(u => 
            u.UserId == userId)?.Username;
        return authDetailsUsername ?? "Invalid Username";
    }

    private string GetEditorUrl()
    {
        return $"/ComboEditor/{ChosenFighter?.Name}/false/1y8GcITqkVsGzjJQ3f2R";
    }

    private string GetPhotoUrl()
    {
        return $"images/{ChosenFighter?.Name}.png";
    }
}