@page "/login"
@using System.Text.Json
@using FightingFlowDotNet.Clients
@using Firebase.Auth
@using Models
@using UserInfo = Firebase.Auth.UserInfo

@inject NavigationManager Navigation
@inject FirestoreGetter Getter 
@inject IJSRuntime Js
@inject IConfiguration Config

<Div>
    @if (_signUp) { <Heading3>Sign Up</Heading3> }
    else { <Heading3>Sign In</Heading3> }

    <Fields>
        <FieldSet Horizontal>
            <Field ColumnSize="ColumnSize.Is6" Padding="Padding.Is2.FromStart">
                <FieldLabel>Username</FieldLabel>
                <FieldBody>
                    <TextInput @bind-Value="@_username"/>
                </FieldBody>
            </Field>

            <Field ColumnSize="ColumnSize.Is6" Padding="Padding.Is2.FromEnd">
                <FieldLabel>Password</FieldLabel>
                <FieldBody>
                    <TextInput Role="TextRole.Password"
                               @bind-Value="@_password"/>
                </FieldBody>
            </Field>
        </FieldSet>

        @if (_signUp)
        {
            <FieldSet Horizontal>
                <Field ColumnSize="ColumnSize.Is6"
                       Padding="Padding.Is2.FromStart">
                    <FieldLabel>Confirm Password</FieldLabel>
                    <FieldBody>
                        <TextInput @bind-Value="@_confirmPassword"/>
                    </FieldBody>
                </Field>
                
                <Field ColumnSize="ColumnSize.Is6"
                       Padding="Padding.Is2.FromStart">
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TextInput @bind-Value="@_name"/>
                    </FieldBody>
                </Field>
            </FieldSet>
            
            <FieldSet Horizontal>
                <Field ColumnSize="ColumnSize.Is6"
                       Padding="Padding.Is2.FromEnd">
                    <FieldLabel>Email</FieldLabel>
                    <FieldBody>
                        <TextInput Role="TextRole.Email"
                                   @bind-Value="_email"/>
                    </FieldBody>
                </Field>

                <Field ColumnSize="ColumnSize.Is6" Padding="Padding.Is2.FromStart">
                    <FieldLabel>Date of Birth</FieldLabel>
                    <Addons>
                        <Addon>
                            <DatePicker @bind-Value="_dob"
                                        Background="Background.Light"/>
                        </Addon>
                        <Addon>
                            <Button Background="Background.Light">
                                <Icon Name="IconName.CalendarDay"/>
                            </Button>
                        </Addon>
                    </Addons>
                </Field>
            </FieldSet>
        }
    </Fields>
    
    <Div>
        @if (_signUp)
        {
            <Button Color="Color.Primary"
                    TextColor="TextColor.Light"
                    @onclick="@SignUpWithEmail"
                    Margin="Margin.Is4.FromEnd">
                Sign Up
            </Button>
            
            <Button Color="Color.Secondary"
                    TextColor="TextColor.Light"
                    @onclick="@TriggerSignUp">
                Show Sign In
            </Button>
        }
        else
        {
            <Button Color="Color.Primary"
                    @onclick="@SignInWitEmail"
                    Margin="Margin.Is4.FromEnd">
                Sign In
            </Button>
            
            <Button Color="Color.Secondary"
                    @onclick="@TriggerSignUp">
                Show Sign Up
            </Button>
        }
        
    </Div>
    <Button Color="Color.Success"
            Margin="Margin.Is4.FromTop"
            Clicked="@SignInWithGoogle">
        Sign In With Google
    </Button>
    <Div>
        @if (!string.IsNullOrEmpty(_errorMessage))
        { 
            <Text>@_errorMessage</Text> 
        }
    </Div>
</Div>

@code {
    private string _username = "";
    private string _email = "";
    private string _password = "";
    private string _confirmPassword = "";
    private string _name = "";
    private DateTime _dob = DateTime.Now;
    private DateTime _dateCreated = DateTime.Now;
    
    private string _errorMessage = "";
    private bool _signUp = false;

    private IJSObjectReference? _firebaseModule;

    private void TriggerSignUp()
    {
        _signUp = !_signUp;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _firebaseModule = await Js.InvokeAsync<IJSObjectReference>(
                "import", "./js/firebaseAuth.js");

            await _firebaseModule.InvokeAsync<IJSObjectReference>("initFirebase", new
            {
                apiKey = Config["Firebase:ApiKey"],
                authDomain = Config["Firebase:AuthDomain"],
                projectId = Config["Firebase:ProjectId"],
                storageBucket = Config["Firebase:StorageBucket"],
                messageSenderId = Config["Firebase:MessageSenderId"],
                appId = Config["Firebase:AppId"],
            });
        }
    }

    private async Task SignInWithGoogle()
    {
        if (_firebaseModule is null) return;
        try
        {
            var success = await _firebaseModule.InvokeAsync<bool>("signInWithGoogle");
            if (success)
            {
                Navigation.NavigateTo("/", forceLoad: true);
            }
            else
            {
                _errorMessage = "Google sign-in failed.";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
    
    private async Task SignUpWithEmail()
    {
        if (_firebaseModule is null) return;
        if (_password != _confirmPassword)
        {
            _errorMessage = "Passwords do not match";
            return;
        }
        
        var userAuth = new AuthoriseUser
        {
            Password = _password,
            CustomUserInfo = new CustomUserInfo 
            { 
                UserId = Guid.NewGuid().ToString(),
                Username = _username,
                ProfilePic = "",
                Name = _name,
                Email = _email,
                DateCreated = _dateCreated.ToShortDateString(),
                Dob =  _dob.ToShortDateString(),
                LikedCombos = [],
                CharacterList = []
            }};

        try
        {
            var success = await _firebaseModule.InvokeAsync<bool>(
                "createAccountWithEmailAndPassword", userAuth);
            if (success)
            {
                Navigation.NavigateTo("/", forceLoad: true);
            }
            else
            {
                _errorMessage = "Sign up failed...";
            }
        }
        catch (Exception ex)
        {
            _errorMessage = "Something went wrong";
            Console.WriteLine(ex);
        }
    }

    private async Task SignInWitEmail()
    {
        if (_firebaseModule is null) return;

        var user = await Getter.FindUserByUsername(_username);

        if (user is null)
        {
            _errorMessage = "No user found...";
            return;
        }

        try
        {
            var success = await _firebaseModule.InvokeAsync<bool>(
                "signinWithEmailAndPassword", user.Email, _password);
            if (success)
            {
                Navigation.NavigateTo("/", forceLoad: true);
            }
            else
            {
                _errorMessage = "Something went wrong...";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
}