@page "/login"
@using FightingFlowDotNet.Clients
@inject NavigationManager Navigation
@inject FirebaseClientFactory FirebaseClientFactory
@inject IJSRuntime Js
@inject IConfiguration Config

<Div>
    @if (_signUp) { <Heading3>Sign Up</Heading3> }
    else { <Heading3>Sign In</Heading3> }

    <Fields>
        <FieldSet Horizontal>
            <Field ColumnSize="ColumnSize.Is6" Padding="Padding.Is2.FromStart">
                <FieldLabel>Username</FieldLabel>
                <FieldBody>
                    <TextInput @bind-Value="@_username"/>
                </FieldBody>
            </Field>

            <Field ColumnSize="ColumnSize.Is6" Padding="Padding.Is2.FromEnd">
                <FieldLabel>Password</FieldLabel>
                <FieldBody>
                    <TextInput Role="TextRole.Password"
                               @bind-Value="@_password"/>
                </FieldBody>
            </Field>
        </FieldSet>

        @if (_signUp)
        {
            <FieldSet Horizontal>
                <Field ColumnSize="ColumnSize.Is6"
                       Padding="Padding.Is2.FromStart">
                    <FieldLabel>Name</FieldLabel>
                    <FieldBody>
                        <TextInput @bind-Value="@_name"/>
                    </FieldBody>
                </Field>
            
                <Field ColumnSize="ColumnSize.Is6"
                       Padding="Padding.Is2.FromEnd">
                    <FieldLabel>Email</FieldLabel>
                    <FieldBody>
                        <TextInput Role="TextRole.Email"
                                   @bind-Value="_email"/>
                    </FieldBody>
                </Field>
            </FieldSet>

            <FieldSet Horizontal>
                <Field ColumnSize="ColumnSize.Is12" Padding="Padding.Is2.OnX">
                    <FieldLabel>Date of Birth</FieldLabel>
                    <Addons>
                        <Addon>
                            <DatePicker @bind-Value="_dob" 
                                        Background="Background.Light"/>
                        </Addon>
                        <Addon>
                            <Button Background="Background.Light">
                                <Icon Name="IconName.CalendarDay"/>
                            </Button>
                        </Addon>
                    </Addons>
                </Field>
            </FieldSet>
        }
    </Fields>
    
    <Div>
        @if (_signUp)
        {
            <Button Color="Color.Primary"
                    TextColor="TextColor.Light"
                    @onclick="@SignUpWithEmail"
                    Margin="Margin.Is4.FromEnd">
                Sign Up
            </Button>
            
            <Button Color="Color.Secondary"
                    TextColor="TextColor.Light"
                    @onclick="@TriggerSignUp">
                Show Sign In
            </Button>
        }
        else
        {
            <Button Color="Color.Primary"
                    @onclick="@SignInWitEmail"
                    Margin="Margin.Is4.FromEnd">
                Sign In
            </Button>
            
            <Button Color="Color.Secondary"
                    @onclick="@TriggerSignUp">
                Show Sign Up
            </Button>
        }
        
    </Div>
        <Button Color="Color.Success"
                Margin="Margin.Is4.FromTop"
                Clicked="@SignInWithGoogle">
            Sign In With Google
        </Button>

    @if (!string.IsNullOrEmpty(_errorMessage))
    {
        <Text>@_errorMessage</Text>
    }
</Div>

@code {
    private string _username = "";
    private string _email = "";
    private string _password = "";
    private string _name = "";
    private DateTime _dob = DateTime.Now;
    private DateTime _dateCreated = DateTime.Now;
    
    private string _errorMessage = "";
    private bool _signUp = false;

    private IJSObjectReference? _firebaseModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _firebaseModule = await Js.InvokeAsync<IJSObjectReference>(
                "import", "./js/firebaseAuth.js");

            await _firebaseModule.InvokeAsync<IJSObjectReference>("initFirebase", new
            {
                apiKey = Config["Firebase:ApiKey"],
                authDomain = Config["Firebase:AuthDomain"],
                projectId = Config["Firebase:ProjectId"],
                storageBucket = Config["Firebase:StorageBucket"],
                messageSenderId = Config["Firebase:MessageSenderId"],
                appId = Config["Firebase:AppId"],
            });
        }
    }

    private async Task SignInWithGoogle()
    {
        if (_firebaseModule is null) return;
        try
        {
            var success = await _firebaseModule.InvokeAsync<bool>("signInWithGoogle");
            if (success)
            {
                Navigation.NavigateTo("/", forceLoad: true);
            }
            else
            {
                _errorMessage = "Google sign-in failed.";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void TriggerSignUp()
    {
        _signUp = !_signUp;
    }

    private async Task SignUpWithEmail()
    {
        Console.WriteLine("Attempting to sign in with email");
        if (_firebaseModule is null) return;

        try
        {
            var success = _firebaseModule.InvokeAsync<bool>("signUpWithEmailAndPassword");
            if (success)
            {
                
                Navigation.NavigateTo("/", forceLoad: true);
            }
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
        }
    }

    private async Task SignInWitEmail()
    {
        var client = FirebaseClientFactory.GetAuthClient();
        Console.WriteLine("Client Created");
        
        try
        {
            Console.WriteLine("Calling supabase.Auth.SignIn");
            var session = await client.SignInWithEmailAndPasswordAsync(_email, _password);
            Console.WriteLine($"Session Created: {session.User.Credential.IdToken ?? "invalid token"}");
            Console.WriteLine("Session Created, navigating to home");
            Navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _errorMessage = ex.Message;
            Console.WriteLine($"Exception occured: {_errorMessage}");
        }
    }
}